<header class="header">
  <div class="header-cont">
    <!-- Logo -->
    <a href="index.html" class="header-logo">
      <img src="./img/logo/jefferson-logo.webp" alt="Логотип" loading="lazy" />
      <span class="header-text-logo">jefferson*</span>
    </a>
    <!-- Навігація -->
    <nav class="header-navigation">
      <ul class="header-nav-list">
        <li class="dropdown">
          <a class="header-nav-menu" href="#">Menu</a>
          <div class="dropdown-content">
            <a class="header-nav-item" href="#about-me">About Me</a>
            <a class="header-nav-item" href="#benefits">Benefits</a>
            <a class="header-nav-item" href="#projects">Projects</a>
            <a class="header-nav-item" href="#faq">FAQ</a>
          </div>
        </li>
      </ul>
    </nav>
    <!-- Кнопка -->
    <button class="header-btn" type="button">Order the project</button>
    <!-- Кнопка Burger menu -->
    <button class="header-burger-btn" type="button" data-menu-open>
      <svg class="burger-icon" width="21" height="9">
        <use href="./img/sprite.svg#icon-burger-menu"></use>
      </svg>
    </button>
    <button class="header-palete-btn" type="button">
      <svg class="palete-icon">
        <use href="./img/sprite.svg#icon-color-palete"></use>
      </svg>
    </button>
    <ul class="header-menu-target-color">
      <li class="target-color palete-red"></li>
      <li class="target-color palete-orange"></li>
      <li class="target-color palete-khaki"></li>
      <li class="target-color palete-blue"></li>
    </ul>
  </div>

  <!-- Мобільне меню -->
  <div class="mobile-menu" data-menu>
    <div class="mobile-menu-container">
      <button class="modal-close-btn" type="button" data-menu-close>
        <svg class="modal-icon-close" width="28" height="28">
          <use href="./img/sprite.svg#icon-close-header"></use>
        </svg>
      </button>
      <nav class="mobile-menu-nav">
        <ul class="mobile-menu-list">
          <li class="mobile-menu-item">
            <a class="mobile-nav-link" href="#about-me">About Me</a>
          </li>
          <li class="mobile-menu-item">
            <a class="mobile-nav-link" href="#benefits">Benefits</a>
          </li>
          <li class="mobile-menu-item">
            <a class="mobile-nav-link" href="#projects">Projects</a>
          </li>
          <li class="mobile-menu-item">
            <a class="mobile-nav-link" href="#faq">FAQ</a>
          </li>
        </ul>
      </nav>
      <button class="mobile-btn" type="button">Order the project</button>
    </div>
  </div>
</header>
